.form {
  margin-top: 20px;
}

.container {
  width: 100%;
  margin: 0 auto;

  padding: 0 15px;
  max-width: 650px;

  background: #424242;
  border-radius: 10px;
}

.example-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.mt-30 {
  margin-top: 30px;
}
.mr-30 {
  margin-right: 30px;
}

.example-chip-list {
  width: 100%;
}

input {
  color: #fff;
}

.btn {
  width: 150px;
  margin-bottom: 15px;
}

.more__info {
  margin-bottom: 15px;
  color: #fff;
}

.error {
  margin-top: 10px;
  color: rgb(230, 56, 56);
}
