<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>



<!-- Work 1 -->
<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<section class="example-section" [formGroup]="form">
    <mat-checkbox class="example-margin" color="warn" formControlName="temp1">Check me!</mat-checkbox>
    <mat-checkbox class="example-margin" color="accent" formControlName="temp2">Disabled</mat-checkbox>
    <mat-checkbox class="example-margin" color="primary" formControlName="temp3">Primary</mat-checkbox>
    <input type="number" formControlName="temp4">
  </section>
  <span>{{ form.controls['temp4'] }}</span>
<button mat-raised-button color="accent" [disabled]="true">Загрузка данных</button> -->
<!--/ Work 1 -->
