<h1 class="headTitle">{{title}}</h1>
<nav [ngClass]="{
  'placeBetween': isPlBetween
}">
  <a routerLink="/dashboard">Dashboard</a>
  <a style="margin: 10px 20px 0 20px;" routerLink="/heroes">Heroes</a>
  <a routerLink="/sign-up">SignUp</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>



<!-- Work 1 -->
<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<section class="example-section">
    <mat-checkbox class="example-margin" color="warn" formControlName="temp1">Check me!</mat-checkbox>
    <mat-checkbox class="example-margin" color="accent" formControlName="temp2">Disabled</mat-checkbox>
    <mat-checkbox class="example-margin" color="primary" formControlName="temp3">Primary</mat-checkbox>
    <input type="number" formControlName="temp4">
  </section>
<button mat-raised-button color="accent" [disabled]="true">Загрузка данных</button> -->
<!--/ Work 1 -->
