/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545c;
}
nav a.active {
  background-color: black;
}

.placeBetween {
  display: flex;
  justify-content: center;
  width: 100%;
}

.headTitle {
  width: 500px;
  margin: 20px 0 0 10px;
}
