.paginator {
  text-align: center;
  margin-bottom: 24px;
}

.paginator button {
  margin: 0 5px;
}

.active {
  background-color: #18cf07;
  color: white;
}

.notactive {
  background-color: #9007cf00;
  color: black;
}
