@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;800;900&display=swap");

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove outline on the forms and links */
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
// ======================================================================= Обнуление

$clForm: #b2ddfa;
$clText: #303940;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 741px;
}

.form {
  margin-top: 10px;
  width: 100%;

  border: 0.805435px solid #5d9fc6;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 28.9957px rgba(4, 42, 67, 0.02);
  border-radius: 54.7696px;

  background-color: $clForm;
}

.form__body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 441px;
  margin: 0 auto;
}

.form__header {
  margin-top: 86.99px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.header__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 38.6609px;
  line-height: 53px;
  /* identical to box height */

  color: #39454d;
}

.header__text {
  margin-top: 3.22px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 20.9413px;
  line-height: 29px;

  color: #303940;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  justify-content: start;

  margin-top: 38.66px;
}

.input__user {
  display: flex;
  flex-direction: column;
  color: $clText;
}

.label__user {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 19.3304px;
  line-height: 26px;
  /* identical to box height */

  color: #303940;
}

.input__user__text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16.1087px;
  line-height: 22px;
  /* identical to box height */

  color: #303940;
}

.input__pass {
  display: flex;
  flex-direction: column;
  color: $clText;
  margin-top: 33.2px;
}

.label__pass {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 19.3304px;
  line-height: 26px;
  /* identical to box height */

  color: #303940;
}

.input__pass__text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16.1087px;
  line-height: 22px;
  /* identical to box height */

  color: #303940;
}

.form__input {
  background: #ffffff;
  border: 2.4163px solid #5d9fc6;
  box-sizing: border-box;
  border-radius: 12.887px;

  padding: 22px 22px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 19.3304px;
  line-height: 26px;

  color: #303940;
}

.form__btn {
  display: flex;
  justify-content: center;

  width: 100%;

  margin-top: 41.88px;
  margin-bottom: 86.99px;
}

.btn {
  cursor: pointer;
  width: 100%;
  padding: 25px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 19.3304px;
  line-height: 26px;
  /* identical to box height */

  color: #e6f7ff;

  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #397a96;
  box-shadow: 0px 6.44348px 1.61087px rgba(20, 42, 52, 0.8);
  border-radius: 16.1087px;
  border: none;
}
